<h1>Sample App</h1> <p>
  Welcome to the front page of the model_app, if you are here then I have not finished this yet so
  go ahead and check this out in the mean time :D!
  <a href="https://www.railstutorial.org/">Ruby on Rails!</a>
</p>